@import url("https://fonts.googleapis.com/css2?family=Caveat");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400, 600");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #ffd1dc;
    font-family: 'Caveat', serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    background-color: #ffd1dc;
    text-align: center;
    padding: 60px 30px 10px;
    flex: 0 0 auto;
}

main {
    background-color: #ffd1dc;
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #ffd1dc;
    text-align: center;
    padding: 10px;
    flex: 0 0 auto;
}

footer p {
    font-size: 0.8rem;
    color: #333;
}

.gallery-title {
    font-size: 4rem;
    color: #333;
    margin: 0;
    padding: 0;
}

.gallery {
    position: fixed;
    top: 50%;
    left: 50%;
}

.picture {
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border: 32px solid #fff;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    user-select: none;
    cursor: grab;
}

.picture-img {
    display: block;
    width: 360px;
    height: 360px;
    pointer-events: none;
}

.picture-note {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 360px;
    padding: 8px;
    padding-bottom: 0;
    height: auto;
    font-size: 1rem;
}


@media (max-width: 767px) {
    footer p {
        font-size: 0.8rem;
    }

    .gallery-title {
        font-size: 1.6rem;
    }

    .picture {
        border: 16px solid #fff;
    }

    .picture-img {
        width: 100px;
        height: 100px;
    }

    .picture-note {
        width: 0px;
        height: 0px;
        font-size: 0;
        padding: 0;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    footer p {
        font-size: 0.8rem;
    }

    .gallery-title {
        font-size: 2.4rem;
    }

    .picture {
        border: 20px solid #fff;
    }

    .picture-img {
        width: 200px;
        height: 200px;
    }

    .picture-note {
        width: 200px;
        height: auto;
        padding: 4px;
        padding-bottom: 0;
        font-size: 0.8rem;
    }
}
